{% extends 'warranty/base.html' %}
{% load static %}
<link rel="stylesheet" href="{% static 'warranty/css/add_phone.css' %}"> 

{% block content %}
<button style="margin-left: 40px; margin-top: 20px" class="btn btn-outline-danger" onclick="location.href='{% url 'phone_list'%}'" type="button">Quay lại</button>
  {% if phones.count == 0 %}
        <p style="margin-left: 40px; margin-top: 20px">Không tìm thấy kết quả nào.</p>
  {% else %}
      <p style="margin-left: 40px; margin-top: 20px">Tìm thấy {{ phones.count }} thiết bị:</p>
      <div class="table-responsive" style="margin: auto; margin-top: 20px; width: 95%;">
        <table class="table align-middle table-striped">
          <thead class="table-danger">
              <tr>
                  <th>serial</th>
                  <th>Tên thiết bị</th>
                  <th>Tên hãng</th>
                  <th>Bắt đầu bảo hành</th>
                  <th>Kết thúc bảo hành</th>
                  <th>Nhà cung cấp</th>
                  <th>Tình trạng</th>
                  <th></th>
              </tr>
          </thead>
          <tbody>
            {% for phone in phones %}
            <tr>
              <td>{{ phone.serial }}</td>
              <td>{{ phone.name }}</td>
              <td>{{phone.name_brand}}</td>
              <td>{{ phone.start_date }}</td>
              <td>{{ phone.end_date }}</td>
              <td>{{ phone.NCC }}</td>
              <td>{{ phone.warranty_status }}</td>
              <td>
                <button class="btn btn-outline-danger" onclick="location.href='{% url 'update_phone' phone_id=phone.id %}'" type="button">Cập nhật</button>
                <button class="btn btn-outline-danger" onclick="if (confirm('Bạn có chắc chắn muốn xóa thiết bị này không?')) { location.href=' {% url 'delete_phone' phone_id=phone.id %}'; }" type="button">Xóa</button>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        
      </div>
      
  {% endif %}
  
{% endblock %}
