{% extends 'warranty/base.html' %}
{%load static %}
{% block content %}
    <h4 style="margin-left: 40px; margin-top: 20px">Danh sách thiết bị</h4>
    <div style="margin-left: 40px; margin-top: 20px">
      <form class="d-flex" action="{% url 'search_phone' %}" method="get">
        <input class="form-control form-control-sm me-2 border border-danger" type="search" name="q" placeholder="Tìm kiếm" style="height: 40px; width: 250px">
        <button class="btn btn-outline-danger" type="submit">Tìm kiếm</button>
      </form>
    </div>
    <div class="table-responsive" style="margin: auto; margin-top: 20px; width: 95%;">
      <table class="table align-middle table-striped">
        <thead class="table-danger">
            <tr>
                <th>Serial</th>
                <th> 
                  <div class="btn-group" style="height: 30px; ">
                    <div style="text-align: center;">
                      Tên thiết bị
                      <button style="margin-left: 5px;" type="button" class="btn dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                        <span class="visually-hidden">Toggle Dropdown</span>
                      </button>
                      <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{% url 'phone_list' %}?sort=name_asc">Sắp xếp (A-Z)</a></li>
                        <li><a class="dropdown-item" href="{% url 'phone_list' %}?sort=name_desc">Sắp xếp (Z-A)</a></li>
                      </ul>
                    </div>
                  </div>
                </th>
                <th> 
                  <div class="btn-group" style="height: 30px; ">
                    <div style="text-align: center;">
                      Tên hãng
                      <button style="margin-left: 5px;" type="button" class="btn dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                        <span class="visually-hidden">Toggle Dropdown</span>
                      </button>
                      <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{% url 'phone_list' %}?sort=name_brand_asc">Sắp xếp (A-Z)</a></li>
                        <li><a class="dropdown-item" href="{% url 'phone_list' %}?sort=name_brand_desc">Sắp xếp (Z-A)</a></li>
                      </ul>
                    </div>
                  </div>
                </th>
                <th>Ngày bắt đầu bảo hành</th>
                <th>Ngày kết thúc bảo hành</th>
                <th> 
                  <div class="btn-group" style="height: 30px; ">
                    <div style="text-align: center;">
                      Nhà cung cấp
                      <button style="margin-left: 5px;" type="button" class="btn dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                        <span class="visually-hidden">Toggle Dropdown</span>
                      </button>
                      <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{% url 'phone_list' %}?sort=NCCand_asc">Sắp xếp (A-Z)</a></li>
                        <li><a class="dropdown-item" href="{% url 'phone_list' %}?sort=NCC_desc">Sắp xếp (Z-A)</a></li>
                      </ul>
                    </div>
                  </div>
                </th>
                <th>
                  <div class="btn-group" style="height: 30px; ">
                    <div style="text-align: center;">
                      Tình trạng bảo hành
                      <button style="margin-left: 5px;" type="button" class="btn dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                        <span class="visually-hidden">Toggle Dropdown</span>
                      </button>
                      <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{% url 'phone_list' %}?sort=all">Tất cả</a></li>
                        <li><a class="dropdown-item" href="{% url 'phone_list' %}?sort=warranty">Còn hạn bảo hành</a></li>
                        <li><a class="dropdown-item" href="{% url 'phone_list' %}?sort=no_warranty">Hết hạn bảo hành</a></li>
                      </ul>
                    </div>
                  </div>
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
          {% for phone in phones %}
          <tr>
            <td>{{ phone.serial }}</td>
            <td>{{ phone.name }}</td>
            <td>{{phone.name_brand}}</td>
            <td>{{ phone.start_date }}</td>
            <td>{{ phone.end_date }}</td>
            <td>{{ phone.NCC }}</td>
            <td>{{ phone.warranty_status }}</td>
            <td>
              <button class="btn btn-outline-danger" onclick="location.href='{% url 'update_phone' phone_id=phone.id %}'" type="button">Chi tiết</button>
              <button class="btn btn-outline-danger" onclick="if (confirm('Bạn có chắc chắn muốn xóa thiết bị này không?')) { location.href=' {% url 'delete_phone' phone_id=phone.id %}'; }" type="button">Xóa</button>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      
  

      <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
          <li class="page-item"> 
            <a class="page-link text-danger" href="#" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          <li class="page-item"><a class="page-link text-danger" href="#">1</a></li>
          <li class="page-item"><a class="page-link text-danger" href="#">2</a></li>
          <li class="page-item"><a class="page-link text-danger" href="#">3</a></li>
          <li class="page-item">
            <a class="page-link text-danger" href="#" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
    
{% endblock %}


