{% extends 'warranty/base.html' %}
{% load static %}

{% block content %}
    <div class="row mt-11" style="margin-top: 30px; margin-left: 50px; width: 95%;">
            <div class="col-md-4" style="margin-left: 20px">
                <h5 style="text-align: center; margin-bottom: 20px;">Số lượng thiết bị gửi bảo hành theo hãng</h5>
                <canvas id="brandChart" width="400" height="250"></canvas>
                <script>
                    var brandCtx = document.getElementById('brandChart').getContext('2d');
                    var brandChart = new Chart(brandCtx, {
                        type: 'doughnut',
                        data: {
                            labels: [{% for brand in brands %}  '{{ brand.phone__name_brand }}',  {% endfor %}],
                            datasets: [{
                                data: [{% for brand in brands %}  {{ brand.name_brand_count }},  {% endfor %}],
                                backgroundColor: [
                                    'rgba(255, 99, 132, 0.2)',
                                    'rgba(54, 162, 235, 0.2)',
                                    'rgba(0, 255, 0, 0.2)',
                                    'rgba(255, 255, 0, 0.2)',
                                    'rgba(255, 0, 255, 0.2)',
                                    'rgba(0, 255, 255, 0.2)',
                                    'rgba(0, 0, 255, 0.2)',
                                    'rgba(255, 0, 0, 0.2)',
                                ],
                            }]
                        },
                    });
                </script>
            </div>
            <div class="col-md-7" style="margin-left: 50px;">
                <h5 style="text-align: center; margin-bottom: 20px;">Chi tiết số lượng các thiết bị gửi bảo hành của mỗi hãng</h5>
                <div style="margin-left: 45px;">
                    <label for="select-brand">Chọn hãng:</label>
                    <select id="select-brand" name="select-brand" onchange="updateNameChart()">
                        <option value="all">Tất cả</option>
                        {% for brand in brands %}
                        <option value="{{ brand.phone__name_brand }}">{{ brand.phone__name_brand }}</option>
                        {% endfor %}
                    </select>
                </div>
                <canvas style="margin-top: 10px;" id="nameChart" width="400" height="250"></canvas>
                <script>
                    var nameCtx = document.getElementById('nameChart').getContext('2d');
                    var nameChart = new Chart(nameCtx, {
                        type: 'bar',
                        data: {
                            labels: [{% for name in names %}  '{{ name.phone__name }}',  {% endfor %}],
                            datasets: [{
                                label: 'Số lượng',
                                data: [{% for name in names %}  {{ name.name_count }},  {% endfor %}],
                                backgroundColor: [
                                    'rgba(255, 99, 132, 0.2)',
                                    'rgba(54, 162, 235, 0.2)',
                                    'rgba(0, 255, 0, 0.2)',
                                    'rgba(255, 255, 0, 0.2)',
                                    'rgba(255, 0, 255, 0.2)',
                                    'rgba(0, 255, 255, 0.2)',
                                    'rgba(0, 0, 255, 0.2)',
                                    'rgba(255, 0, 0, 0.2)',
                                ],
                                borderColor: [
                                    'rgba(255, 99, 132, 1)',
                                    'rgba(54, 162, 235, 1)',
                                    'rgba(0, 255, 0, 1)',
                                    'rgba(255, 255, 0, 1)',
                                    'rgba(255, 0, 255, 1)',
                                    'rgba(0, 255, 255, 1)',
                                    'rgba(0, 0, 255, 1)',
                                    'rgba(255, 0, 0, 1)',
                                ],
                            }]
                        },
                    });
                </script>
                <script>
                    function updateNameChart() {
                        var brandSelected = document.getElementById("select-brand").value;
                        var url = "{% url 'ajax_get_names_by_brand' %}";
                        if (brandSelected === 'all') {
                            url = "{% url 'ajax_get_all_names' %}";
                        }
                        $.ajax({
                            url: url,
                            data: {
                                'brand': brandSelected
                            },
                            dataType: 'json',
                            success: function (data) {
                                nameChart.data.labels = data.labels;
                                nameChart.data.datasets[0].data = data.data;
                                nameChart.update();
                            }
                        });
                    }
                    </script>                
            </div>
        </div>
        </div>
    </div>

    
{% endblock %}

