{% extends 'warranty/base.html' %}
{%load static %}
{% block content %}
    <h4 style="margin-left: 40px; margin-top: 20px">Danh sách thiết bị nhận bảo hành</h4>
    <div style="margin-left: 40px; margin-top: 20px">
      <form class="d-flex" action="{% url 'search_warranty' %}" method="get">
        <input class="form-control form-control-sm me-2 border border-danger" type="search" name="q" placeholder="Tìm kiếm" style="height: 40px; width: 250px">
        <button class="btn btn-outline-danger" type="submit">Tìm kiếm</button>
      </form>
    </div>
    <div class="table-responsive" style="margin: auto; margin-top: 20px; width: 95%;">
      <table class="table align-middle table-striped">
        <thead class="table-danger">
            <tr>
              <th>
                <div class="btn-group" style="height: 30px; ">
                  <div style="text-align: center;">
                    Tên khách hàng
                    <button style="margin-left: 5px;" type="button" class="btn dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                      <span class="visually-hidden">Toggle Dropdown</span>
                    </button>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="{% url 'warranty_list' %}?sort=name_KH_asc">Sắp xếp (A-Z)</a></li>
                      <li><a class="dropdown-item" href="{% url 'warranty_list' %}?sort=name_KH_desc">Sắp xếp (Z-A)</a></li>
                    </ul>
                  </div>
                </div>
              </th>
              <th>Số điện thoại</th>
              <th>
                <div class="btn-group" style="height: 30px; ">
                  <div style="text-align: center;">
                    Tên hãng
                    <button style="margin-left: 5px;" type="button" class="btn dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                      <span class="visually-hidden">Toggle Dropdown</span>
                    </button>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="{% url 'warranty_list' %}?sort=name_hang_desc">Sắp xếp (A-Z)</a></li>
                      <li><a class="dropdown-item" href="{% url 'warranty_list' %}?sort=name_hang_asc">Sắp xếp (Z-A)</a></li>
                    </ul>
                  </div>
                </div>
              </th>
              <th>
                <div class="btn-group" style="height: 30px; ">
                  <div style="text-align: center;">
                    Tên thiết bị
                    <button style="margin-left: 5px;" type="button" class="btn dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                      <span class="visually-hidden">Toggle Dropdown</span>
                    </button>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="{% url 'warranty_list' %}?sort=name_asc">Sắp xếp (A-Z)</a></li>
                      <li><a class="dropdown-item" href="{% url 'warranty_list' %}?sort=name_desc">Sắp xếp (Z-A)</a></li>
                    </ul>
                  </div>
                </div>
              </th>
              <th>Ngày nhận bảo hành</th>
              <th>Ngày trả bảo hành</th>
              <th>
                <div class="btn-group" style="height: 30px; ">
                  <div style="text-align: center;">
                    Nhà cung cấp
                    <button style="margin-left: 5px;" type="button" class="btn dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                      <span class="visually-hidden">Toggle Dropdown</span>
                    </button>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="{% url 'warranty_list' %}?sort=NCC_asc">Sắp xếp(A-Z)</a></li>
                      <li><a class="dropdown-item" href="{% url 'warranty_list' %}?sort=NCC_desc">Sắp xếp (Z-A)</a></li>
                    </ul>
                  </div>
                </div>
              </th>
              <th></th>
            </tr>
        </thead>
        <tbody>
          {% for warranty in warranties %}
          <tr>
            <td>{{ warranty.name_KH }}</td>
            <td>{{ warranty.phone_number }}</td>
            <td>{{ warranty.name_hang }}</td>
            <td>{{ warranty.name }}</td>
            <td>{{ warranty.start_date }}</td>
            <td>{{ warranty.end_date }}</td>
            <td>{{ warranty.NCC }}</td>
            <td>
              <button class="btn btn-outline-danger" onclick="location.href='{% url 'update_warranty' warranty.id %}'" type="button">Chi tiết</button>
              <button class="btn btn-outline-danger" onclick="if (confirm('Bạn có chắc chắn muốn xóa bảo hành này không?')) { location.href=' {% url 'delete_warranty' warranty.id %}'; }" type="button">Xóa</button>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
          <li class="page-item">
            <a class="page-link text-danger" href="#" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          <li class="page-item"><a class="page-link text-danger" href="#">1</a></li>
          <li class="page-item"><a class="page-link text-danger" href="#">2</a></li>
          <li class="page-item"><a class="page-link text-danger" href="#">3</a></li>
          <li class="page-item">
            <a class="page-link text-danger" href="#" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
    
    
{% endblock %}
