{% extends 'warranty/base.html' %}
{%load static %}
{% block content %}
    <h4 style="margin-left: 40px; margin-top: 20px">Danh sách thiết bị nhận bảo hành</h4>
    <div class="table-responsive" style="margin: auto; margin-top: 50px; width: 95%;">
      
      <table class="table align-middle table-striped">
        <thead class="table-danger">
            <tr>
                <th>Tên thiết bị</th>
                <th>Ngày nhận bảo hành</th>
                <th>Ngày trả bảo hành</th>
                <th>Nhà cung cấp</th>
                <th>Ghi chú</th>
            </tr>
        </thead>
        <tbody>
          {% for customer in customers %}
          <tr>
            <td>{{ customer.name }}</td>
            <td>{{ customer.start_date }}</td>
            <td>{{ customer.end_date }}</td>
            <td>{{ customer.NCC }}</td>
            <td>{{ customer.description }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
          <li class="page-item">
            <a class="page-link text-danger" href="#" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          <li class="page-item"><a class="page-link text-danger" href="#">1</a></li>
          <li class="page-item"><a class="page-link text-danger" href="#">2</a></li>
          <li class="page-item"><a class="page-link text-danger" href="#">3</a></li>
          <li class="page-item">
            <a class="page-link text-danger" href="#" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
    
    
{% endblock %}
