.box {
    width: 50%;
    height: 100%;
    background-color: #f7c0cc;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    margin: auto;
}

form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

form input {
    display: block;
    margin-bottom: auto;
    border: 1px solid #db0c40;
    border-radius: 4px;
    width: 70%;
    height: 35px;
}

form button {
    display: block;
    width: 100px;
    height: 40px;
    background-color: #db0c40;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}