<!DOCTYPE html>
<html>
  <head>
    {% load static %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'warranty/css/login.css' %}">
    <meta charset="UTF-8">
    <title>Register</title>
  </head>
  <body>
    <div class="wrapper">
      <div class="logo">
          <img src="{% static 'warranty/images/logo1.png' %}" width="200", height="100" alt="logo">
      </div>
      <div class="text-center mt-4 name">
          BHDT
      </div>
      <form class="p-3 mt-3" action="{% url 'register' %}" method="post">
        {% csrf_token %}
        <div class="form-field d-flex align-items-center">
            <span class="far fa-user"></span>
            {{ form.username}}
        </div>
        <div class="form-field d-flex align-items-center">
            <span class="fas fa-key"></span>
            <input type="password" name="password1" autocomplete="new-password" required id="id_password1" placeholder="Mật khẩu">
        </div>
        <div class="form-field d-flex align-items-center">
          <span class="fas fa-key"></span>
          <input type="password" name="password2" autocomplete="new-password" required id="id_password2" placeholder="Xác nhận mật khẩu">
        </div>
        <button type="submit" class="btn mt-3">Đăng ký</button>
      </form>
      <a style="color: black; margin-left: 75px" href="{% url 'login_view' %}">Đăng nhập tài khoản</a>
  
  </div>
      
  </body>
</html>